#Листинг 10.7 : Сгенерированное HTML-представление для активации аккаунта. app/views/user_mailer/account_activation.html.erb :10.13
<h1>Sample App</h1>

<p>Привет, <%= @user.name %>!</p>

<p>
Добро пожаловать в Oct 07 sqlite! Перейдите по ссылке для активации аккаунта:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
