
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% provide(:title, "Edit student") %>

 <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%##= render 'shared/error_messages', object: f.object %>     

 
<div class="field">
    <%= f.label :userid %><br>
    <%= f.text_field :user_id %>
  </div>

<div class="field">
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </div>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :fio %><br>
    <%= f.text_field :fio %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :creditbook %><br>
    <%= f.text_field :creditbook %>
  </div>
  <div class="field">
    <%= f.label :creditbooksigned %><br>
    <%= f.date_select :creditbooksigned %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :allowed %><br>
    <%= f.check_box :allowed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


  </div>
</div



>>>>>>> namefioshow-stud-master
