<li id="student-<%= student.id %>">
  <%#= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
<span class="student">
                    <%#= link_to micropost.user.name, micropost.user %>
          <%= link_to student.user.name, student.user %></span>
     <span class="content">
          <%= student.fio %>
</span>
  
</li>
