<h1>Editing student</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
=======
<%= link_to 'Show', @student %> 
<%= link_to 'Back', students_path %>


>>>>>>> namefioshow-stud-master
