
<h1>Listing students</h1>

<h1>Listing students (stud index.html.erb)</h1>


<table>
  <thead>
    <tr>

      <th>Country</th>

<th>user_id</th> 
<th>user_name</th> 
<th>user email</th>
<th>Country</th>

      <th>Fio</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Creditbook</th>
      <th>Creditbooksigned</th>
      <th>Phone</th>
      <th>Allowed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>

      <tr>

<td><%= student.user_id %></td> 
<td><%= student.user.name %></td> 
<td><%= student.user.email %></td>

        <td><%= student.country %></td>
        <td><%= student.fio %></td>
        <td><%= student.lastname %></td>
        <td><%= student.firstname %></td>
        <td><%= student.creditbook %></td>
        <td><%= student.creditbooksigned %></td>
        <td><%= student.phone %></td>
        <td><%= student.allowed %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
