<!-- #Листинг 12.19: Партиал формы “follow/unfollow (читать/не читать)”. app/views/users/_follow_form.html.erb -->

<% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>

