<!--#Листинг 9.47: Партиал для отображения отдельно взятого пользователя. app/views/users/_user.html.erb :9.52 --> 
<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
     <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>

