<!--#Листинг 2.7: Представление index для пользователей. app/views/users/index.html.erb
Листинг 9.34:Листинг 9.41 :9.46 9.47: Листинг 9.48: Полностью реорганизованный список пользователей. #ЗЕЛЕНЫЙ app/views/users/index.html.erb -->

<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>



<%= will_paginate %>


