<!--#libr  Sept 01 Листинг :7.4 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb
#Листинг 7.4:Листинг 7.8:Листинг 7.10 Листинг 7.10: Добавление боковой панели к представлению пользователя show. app/views/users/show.html.erb :11.23  :12.23    -->

<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
         <section class="user_info">
                
                 <%= gravatar_for @user %>  
                    <%#= @student.fio %><p>
<% if @user.students.any? %>  
    <!-- <h3>#Students Num (<%#= @user.students.count %>)</h3><p><p> -->
         
 <ol class="students">
             <%#= render @students %>
           </ol>
<% end %>
                </h1>
          </section>
   </aside>
 
 

<div class="col-md-8">
  <%= render 'follow_form' if logged_in? %>   

<% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>




