<!-- #Листинг 11.36: Партиал для боковой панели с информацией о пользователе. app/views/shared/_user_info.html.erb -->

<%= link_to gravatar_for(current_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>

